@import  (reference) 'sample2.less';
/*variables -----------------------------------------------------*/
@base: #f938ab;
@blue: #00c;
@light_blue: @blue + #333;
@dark_blue: @blue - #333;

/*operations-----------------------------------------------------*/
@base_margin: 10px;
@double_margin: @base_margin * 2;

@full_page: 960px;
@half_page: @full_page / 2;
@quarter_page: (@full_page / 2) / 2;

#full_page{
	width: @full_page;
	padding:@double_margin;
}
#half_page{
	width: @half_page;
}

/*mixins --------------------------------------------------------*/
.border {
	border-top: 1px dotted #333;
}
.border-radius( @radius: 3px ) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}
article.post {
	background: #eee;
	.border;
	.border-radius(5px); 
}
ul.menu {
	background: #ccc;
	.border;
	.border-radius;
}


/*conditionals and funcs ---------------------------------------------*/
.box-shadow(@style, @c) when (iscolor(@c)) {
  	-webkit-box-shadow: @style @c;
  	-moz-box-shadow:    @style @c;
  	box-shadow:         @style @c;
}
.box-shadow(@style, @alpha: 50%) when (isnumber(@alpha)) {
  	.box-shadow(@style, rgba(0, 0, 0, @alpha));
}
.box {
  	color: saturate(@base, 5%);
  	border-color: lighten(@base, 30%);
  	div { .box-shadow(0 0 5px, 30%) }
}

/*nesting ------------------------------------------------------*/
#site-body { 
	background:black;
    .post { 
    	background:white;
        .post-header {
        	background:red;
            h2 { background:blue;}
            a {
            	&:visited { background:green; }
            	&:hover { background:yellow; }
            }
        }
    }
}
/*import ------------------------------------------------------*/
p{
	color:@remote_color;
	.remote_mixin;
}


