html {height:100%;}
body {height:100%; margin:0; padding:0;}
label{color:yellowgreen;}
input{height: 30px !important;}
h1,h2{font-family: 'Pathway Gothic One', sans-serif !important;}

#bg {position:fixed; top:0; left:0; width:100%; height:100%;}
#content {position:relative; z-index:1;}
#event{background: white !important;}

.main-box{padding:50px 50px 50px 50px;}
.sidebar-img{max-width:95%;}
.event-date{width:20%;}
.events-table{color: white;font-size: 130%;}
.events-title{color:white; font-size:420%;}
.event-title{width:45%;}
.event-location{width:35%;}
.login-box{padding:10% 20%;}
.ui-widget-header{display: none !important;}
.single-event-date{}
.single-event-location{}
.event-dialog{padding:5%;}
.green-date{background:#8968CD;}
.red-date{background:#8DB6CD;}
.blue-location{background:#1874CD;}
.my-anchor{font-size: 150%;color: white !important;}
.hover{background:yellowgreen}
.error{color:indianred !important}