body{
    background-image:url('body.jpg') !important;
}
h1,h2{
    font-family: 'Pathway Gothic One', sans-serif !important;
}
.main-box{
    padding:50px 50px 50px 50px;
}
.sidebar-img{
    max-width:95%;
}
.event-date{
    width:20%;
}
.events-table{
    color: white;
    font-size: 130%;
}
.events-title{
    color:white;
    font-size:420%;
}
.event-title{
    width:45%;
}
.event-location{
    width:35%;
}
.login-box{
    padding:10% 20%;
}
.ui-widget-header{
    display: none !important;
}
#event{
    background: white !important;
}
.single-event-date{
}
.single-event-location{
}
.event-dialog{
    padding:5%;
}
.green-date{
    background:#8968CD;
}
.red-date{
    background:#8DB6CD;
}
.blue-location{
    background:#1874CD;
}
input{
    height: 30px !important;
}
.logout{
    font-size: 150%;
    padding:2%;
    color: white !important;
}
.all-events{
    height:600px;
    overflow-y:scroll;
}