<h2>Boys</h2>
<form class="form-inline" role="form">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" data-ng-model="name" class="form-control" id="name" placeholder="Enter name"/>
    </div>
</form>
<p>Filtering by <span style="color:red">{{ name }}</span></p>
<ul>
    <li data-ng-repeat="boy in boys|filter:name|orderBy:'id'">
        {{boy.id}}|{{boy.name|uppercase}}
    </li>
</ul>
<h3>Add</h3>
<form class="form-inline" role="form">
    <div class="form-group">
        <label for="newboy.id">Id</label>
        <input type="text" data-ng-model="newboy.id" class="form-control" id="newboy.id" placeholder="Enter id"/>
    </div>
    <div class="form-group">
        <label for="newboy.name">Name</label>
        <input type="text" data-ng-model="newboy.name" class="form-control" id="newboy.name" placeholder="Enter name"/>
    </div>
    <button data-ng-click="add()">Add</button>
</form>


