<!DOCTYPE html PUBLIC>
<html data-ng-app="">
<head>
    <title>Try-1</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap-theme.min.css">
    <script src="../js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>AngularJS<small>workouts</small></h1>
    </div>
    <div class="row">

        <div class="col-md-8">
            <form class="form-inline" role="form">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" data-ng-model="name" class="form-control" id="name" placeholder="Enter name"/>

                </div>
            </form>
        </div>
        <div class="col-md-8" data-ng-controller="SimpleController">
            <p>Filtering by <span style="color:red">{{ name }}</span></p>
            <ul>
                <li data-ng-repeat="boy in boys|filter:name|orderBy:'id'">{{boy.id}}|{{boy.name|uppercase}}</li>
            </ul>
        </div>
        <script>
    function SimpleController($scope){
        $scope.boys=[{name:'stan',id:1},{name:'cartman',id:2},{name:'kenny',id:3},{name:'kyle',id:4}]
    };
</script>





    </div>
 </div>
   <script src="../js/angular.min.js"></script>
</body>
</html>
