<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="filename">tasker.log</Property>
    </Properties>
    <Filter type="ThresholdFilter" level="debug"/>
    <Appenders>
        <Console name="ca">
            <PatternLayout pattern="%C{1}.%M %m %ex%n"/>
        </Console>
        <File name="fa" fileName="${filename}">
            <PatternLayout>
                <pattern>%highlight{%d %p %C{1.} [%t] %m%n}</pattern>
            </PatternLayout>
        </File>
        <Console name="sca" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS}|%c{1}.%M()|%L - %highlight{%msg%n}{FATAL=red blink, ERROR=red, WARN=yellow, INFO=cyan, DEBUG=green, TRACE=blue}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="sca"/>
        </Root>
    </Loggers>
</Configuration>