@(event:Event)

@import helper._

<div class="row event-dialog">
    <h1>@event.title</h1>
    <div>
        <span class="event-single-date">@event.date | </span>
        <span class="event-single-location">@event.location.name</span>
    </div>
    <div class="event-images">
        @event.images.map{image => <span class="event-image" ><img src="/image/@image"></span>}
    </div>
    <p>@event.content</p>
    <div class="event-persons">
        @event.persons.map{person => <span class="event-person"><img src="/image/person/@person"></span>}
    </div>
</div>
