@(event:Event)

@import helper._

<div class="row event-dialog">
    <h1>@event.title</h1>
    <div>
        <span class="event-single-date">@event.date | </span>
        <span class="event-single-location">@event.location.name</span>
    </div>
    <div class="event-images">
        @event.images.map{image => <div class="event-image" ><img src="/image/@image"></div>}
    </div>
    <div class="event-content row">@event.content</div>
    <div class="event-persons row">
        @event.persons.map{person => <div class="event-person span2"><img src="/image/person/@person"></div>}
    </div>
</div>
