@(events: List[Event])
@import helper._

@main("Shravan Logs..") {
<div class="container-fluid">
    <div class="row-fluid main-box">
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="#">Shravan</a>
                <ul class="nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="/event/all">Events</a></li>
                    <li><a href="/person/all">People</a></li>
                    <li><a href="/place/all">Places</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
        <div class="span6 all-events offset6">
            <h1 class="events-title">EVENTS OF A BOY</h1>

        </div>
        <div id="event"></div>
    </div>
</div>
}
