@(locations: List[Location])
@import helper._

@main("Places..") {
<div class="row">
    <div class="span6 offset6">
        <h1 class="my-title">PLACES</h1>
        <a href="/place/new" class="my-anchor new-location">| New</a>
        <table class="table location-table">
            @locations.map{location=>
            <tr class="location-row">
                <td class="location-city">@location.city</td>
                <td class="location-state">@location.state</td>
                <td class="location-country">@location.country</td>
            </tr>}
        </table>
    </div>
</div>
}