@(persons:List[Person])
@import helper._

@main("People.."){
<div class="row">
   <div class="span6 offset6">
       <h1 class="my-title">PEOPLE</h1>
       <div><a class="my-anchor new-person" href="/person/new">| New</a></div>
       @persons.map{ person =>
            <div class="person-box span2">
                <h2>@person.name</h2>
                <img src="@person.imageUrl">
                <p>@person.profile</p>
            </div>
       }
   </div>
   <div id="new-person"></div>
</div>
}